<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekoimi.vasashi.mapper.BookMapper">
    <!--
        Book Mapper XML

        通用返回结果映射
    -->
    <resultMap id="base_result_map" type="com.nekoimi.vasashi.entity.Book">
        <result column="id" property="id"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="deleted" property="deleted"/>
        <result column="series_id" property="seriesId"/>
        <result column="title" property="title"/>
        <result column="movie_number" property="movieNumber"/>
        <result column="actress_id" property="actressId"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="cover_file_id" property="coverFileId"/>
        <result column="duration" property="duration"/>
        <result column="manufacturer" property="manufacturer"/>
    </resultMap>

    <!--  通用字段列表  -->
    <sql id="base_column_list">
        id,
        created_at,
        updated_at,
        deleted,
        series_id,
        title,
        movie_number,
        actress_id,
        cover_url,
        cover_file_id,
        duration,
        manufacturer,
    </sql>

</mapper>